.about {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  color: white; }
  @media (max-width: 68.5em) {
    .about {
      flex-direction: column-reverse;
      height: 120vh; } }
  .about-text {
    width: 60%; }
    @media (max-width: 68.5em) {
      .about-text {
        width: 100%;
        height: 50%; } }
    .about-text-header {
      margin: 0rem 0rem 0rem 1rem;
      font-size: 5rem;
      overflow: hidden; }
      @media (max-width: 31.25em) {
        .about-text-header {
          font-size: 3rem; } }
      .about-text-header > p {
        margin: 0;
        padding: 0;
        font-weight: 700; }
        .about-text-header > p > span {
          color: #007bff; }
    .about-text-about {
      font-size: 1.25rem;
      overflow: hidden; }
      @media (max-width: 31.25em) {
        .about-text-about {
          font-size: 1rem; } }
      .about-text-about > p {
        margin: .5rem 0rem 0rem 1rem; }
        @media (max-width: 68.5em) {
          .about-text-about > p {
            margin: .5rem 1rem 0rem 1rem; } }
    .about-text-moreInfo {
      fill: white;
      display: flex;
      align-items: center;
      margin: .5rem 0rem 0rem 1rem;
      text-decoration: none;
      color: white;
      position: relative;
      width: 15rem; }
      .about-text-moreInfo::after {
        position: absolute;
        content: "";
        width: 0rem;
        height: .1rem;
        background-color: white;
        bottom: .5rem;
        transition: all .5s ease-in-out; }
      .about-text-moreInfo:hover {
        cursor: pointer; }
        .about-text-moreInfo:hover::after {
          width: 10rem; }
      .about-text-moreInfo > svg {
        width: 3rem;
        height: 3rem; }
  .about-image {
    width: 40%;
    position: relative; }
    @media (max-width: 68.5em) {
      .about-image {
        width: 100%;
        height: 30%; } }
    .about-image-back {
      position: absolute;
      height: 80%;
      width: 40%;
      background-color: #007bff;
      z-index: 0;
      top: 0;
      left: 30%; }
      @media (max-width: 68.5em) {
        .about-image-back {
          width: 15%;
          top: 40%;
          left: 55%;
          transform: translate(-50%, -50%); } }
      @media (max-width: 56.25em) {
        .about-image-back {
          width: 20%; } }
      @media (max-width: 43.75em) {
        .about-image-back {
          width: 25%; } }
      @media (max-width: 37.5em) {
        .about-image-back {
          width: 30%; } }
      @media (max-width: 31.25em) {
        .about-image-back {
          width: 40%; } }
    .about-image > img {
      position: absolute;
      height: 80%;
      z-index: 20;
      left: 25%;
      top: 10%; }
      @media (max-width: 68.5em) {
        .about-image > img {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }

.aboutMe {
  margin-top: 3rem; }
  .aboutMe-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    font-weight: 600; }
    .aboutMe-header > span {
      color: #007bff; }
    @media (max-width: 37.5em) {
      .aboutMe-header {
        font-size: 3rem; } }
  .aboutMe-headerSmall {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 3rem; }
    .aboutMe-headerSmall > span {
      color: #007bff; }
    @media (max-width: 37.5em) {
      .aboutMe-headerSmall {
        font-size: 1.5rem; } }
  .aboutMe-part {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem; }
    @media (max-width: 37.5em) {
      .aboutMe-part {
        font-size: 1rem;
        text-align: left; } }

.headerPhone {
  display: flex;
  flex-direction: column; }

.skills {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white; }
  @media (max-width: 68.5em) {
    .skills {
      margin-top: 5rem; } }
  .skills-header {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 700; }
    .skills-header > span {
      color: #007bff; }
    @media (max-width: 37.5em) {
      .skills-header {
        margin-top: 2rem;
        font-size: 3rem; } }
  .skills-container {
    width: 100%; }
    @media (max-width: 68.5em) {
      .skills-container {
        overflow: hidden; } }
    .skills-container-group {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 1.5rem 0rem 1.5rem 0rem; }
      @media (max-width: 37.5em) {
        .skills-container-group {
          flex-direction: column; } }
      .skills-container-group-element {
        fill: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transition: all .5s ease-in-out; }
        @media (max-width: 68.5em) {
          .skills-container-group-element {
            font-size: 1rem; }
            .skills-container-group-element > svg {
              width: 5rem;
              height: 5rem; } }
        @media (max-width: 37.5em) {
          .skills-container-group-element {
            font-size: 2rem; }
            .skills-container-group-element > svg {
              width: 10rem;
              height: 10rem; } }
        .skills-container-group-element:hover {
          cursor: pointer; }

.lazyLeft {
  position: relative;
  left: 100%;
  transition: all 1s ease-in-out; }
  @media (max-width: 68.5em) {
    .lazyLeft {
      left: 0%; } }

.animatedLeft {
  left: 0; }

.projects {
  width: 100%;
  color: white;
  text-align: center; }
  .projects-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 700;
    margin-top: 5rem; }
    .projects-header > span {
      color: #007bff; }
    @media (max-width: 43.75em) {
      .projects-header {
        font-size: 4rem; } }
    @media (max-width: 37.5em) {
      .projects-header {
        font-size: 2.5rem; } }
    @media (max-width: 31.25em) {
      .projects-header {
        font-size: 2rem; } }
  .projects-project {
    display: inline-block;
    width: 45%;
    position: relative;
    margin: 2rem;
    overflow: hidden;
    color: white;
    text-decoration: none; }
    @media (max-width: 68.5em) {
      .projects-project {
        left: 50%;
        transform: translate(-50%, 0%);
        display: block;
        margin: 1rem 0rem; } }
    @media (max-width: 56.25em) {
      .projects-project {
        width: 100%; } }
    .projects-project-name {
      position: absolute;
      font-size: 2.5rem;
      top: 3rem;
      left: -25rem;
      font-weight: 600;
      transition: all .5s ease-in-out;
      z-index: 20;
      background-color: #007bff;
      padding: 2rem;
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%); }
      @media (max-width: 56.25em) {
        .projects-project-name {
          left: 3rem; } }
      @media (max-width: 31.25em) {
        .projects-project-name {
          font-size: 1.5rem;
          top: 1rem;
          left: 1rem;
          padding: 1.5rem; } }
    .projects-project-image {
      width: 100%;
      transition: all .5s ease-in-out; }
      .projects-project-image > img {
        width: 100%;
        transition: all .5s ease-in-out;
        z-index: 10; }
    .projects-project:hover {
      cursor: pointer; }
  .projects-more {
    width: 100vw;
    color: white;
    fill: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    width: 15rem;
    margin-left: 1rem; }
    .projects-more::after {
      content: "";
      width: 0rem;
      height: .1rem;
      background-color: white;
      position: absolute;
      bottom: .5rem;
      left: 0;
      transition: all .5s ease-in-out; }
    .projects-more > svg {
      width: 3rem;
      height: 3rem; }
    .projects-more:hover {
      cursor: pointer; }
      .projects-more:hover::after {
        width: 15rem; }

.project {
  width: 100%;
  height: auto;
  color: white;
  margin-top: 3rem; }
  .project-header {
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center; }
    .project-header > span {
      color: #007bff; }
    @media (max-width: 37.5em) {
      .project-header {
        font-size: 3rem; } }
  .project-headerSmall {
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center; }
    .project-headerSmall > span {
      color: #007bff; }
    @media (max-width: 37.5em) {
      .project-headerSmall {
        font-size: 1.5rem; } }
  .project-img {
    display: flex;
    align-items: center;
    justify-content: center; }
    .project-img > img {
      width: 60%; }
      @media (max-width: 37.5em) {
        .project-img > img {
          width: 100%; } }
  .project-see {
    fill: white;
    margin: 2rem 0rem;
    display: flex;
    justify-content: space-evenly;
    position: relative; }
    @media (max-width: 31.25em) {
      .project-see {
        flex-direction: column; } }
    .project-see > a {
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      font-size: 2rem; }
      @media (max-width: 37.5em) {
        .project-see > a {
          font-size: 1rem; } }
      @media (max-width: 31.25em) {
        .project-see > a {
          margin: 1rem 0rem; } }
      .project-see > a > svg {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem; }
        @media (max-width: 37.5em) {
          .project-see > a > svg {
            width: 2rem;
            height: 2rem; } }
  .project-technologies-elements {
    text-align: center; }
    .project-technologies-elements-element {
      margin: 1.5rem;
      display: inline-block;
      fill: white;
      font-size: 1.5rem; }
  .project-desc {
    padding: 1rem;
    font-size: 1.5rem; }
    @media (max-width: 37.5em) {
      .project-desc {
        font-size: 1rem; } }
  .project-rwd {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .project-rwd > img {
      width: 70%; }
      @media (max-width: 37.5em) {
        .project-rwd > img {
          width: 100%; } }

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact-header {
    font-size: 5rem;
    font-weight: 600; }
    @media (max-width: 56.25em) {
      .contact-header {
        font-size: 3rem; } }
    @media (max-width: 31.25em) {
      .contact-header {
        font-size: 2rem;
        margin-top: 1rem; } }
    .contact-header > span {
      color: #007bff; }
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.5rem; }
    .contact-form > input {
      margin-bottom: 1rem;
      padding: .5rem;
      background: lightgray;
      border: none;
      color: black;
      border-radius: 5px; }
    .contact-form > textarea {
      margin-bottom: 1rem;
      padding: .5rem;
      background: lightgray;
      border: none;
      color: black;
      border-radius: 5px; }
    .contact-form > label {
      margin-bottom: .5rem; }
    .contact-form > button {
      border: none;
      background: #007bff;
      color: black;
      padding: .5rem;
      font-size: 1.5rem;
      fill: black;
      transition: all .5s ease-in-out; }
      .contact-form > button:hover {
        cursor: pointer;
        background: black;
        fill: #007bff;
        color: #007bff; }
    @media (max-width: 56.25em) {
      .contact-form {
        font-size: 1rem;
        width: 75%; } }
    @media (max-width: 37.5em) {
      .contact-form {
        width: 100%; } }

.footer {
  color: white;
  margin-top: 1rem;
  border-top: .1rem solid white;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer-licenses {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; }
    @media (max-width: 56.25em) {
      .footer-licenses {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .footer-licenses > p {
      text-align: center; }
  .footer-top {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem; }
    @media (max-width: 56.25em) {
      .footer-top {
        font-size: 1rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 56.25em) {
      .footer-top > div:not(:last-child) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer-contact {
    margin-left: .5rem; }
  .footer-copy {
    margin-right: .5rem; }
    @media (max-width: 56.25em) {
      .footer-copy {
        display: flex;
        flex-direction: row; } }
  .footer-links {
    display: flex;
    max-width: 100vw; }
    @media (max-width: 56.25em) {
      .footer-links {
        justify-content: center;
        align-items: center; } }
    .footer-links > a {
      color: white;
      text-decoration: none;
      fill: white;
      display: flex;
      align-items: center;
      margin-left: 1rem; }
      .footer-links > a > svg {
        width: 2rem;
        height: 2rem; }

html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: black;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: visible; }

.header {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50; }
  .header-logo {
    width: 25rem;
    height: 25rem; }
    @media (max-width: 43.75em) {
      .header-logo {
        width: 15rem;
        height: 15rem; } }
    .header-logo-element {
      fill: none;
      stroke: #007bff;
      stroke-width: 1.5px;
      stroke-dashoffset: 1000%;
      stroke-dasharray: 1000%;
      animation: logoAnimate 3s 1s linear normal forwards; }
  .header-name {
    position: absolute;
    overflow: hidden; }
    .header-name > svg {
      position: relative;
      right: -100%;
      width: 32.5rem;
      animation: showRight 1s 4s ease-in-out normal forwards; }
      @media (max-width: 43.75em) {
        .header-name > svg {
          width: 20rem; } }
  .header-links {
    bottom: 40%;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-family: 'Urbanist', sans-serif;
    overflow: hidden; }
    @media (max-width: 43.75em) {
      .header-links {
        font-size: 1rem; } }
    .header-links > a {
      color: white;
      text-decoration: none;
      transition: all .5s ease-in-out;
      position: relative;
      right: 100%;
      animation: showLeft 1s 4s ease-in-out normal forwards; }
      .header-links > a:hover {
        color: #005ab9; }
    .header-links > span {
      color: #007bff;
      position: relative;
      right: 100%;
      animation: showLeft 1s 4s ease-in-out normal forwards; }

@keyframes showLeft {
  0% {
    right: 100%; }
  100% {
    right: 0; } }

@keyframes showRight {
  0% {
    right: -100%; }
  100% {
    right: 0; } }

@keyframes logoAnimate {
  0% {
    stroke-dashoffset: 1000%;
    stroke: #007bff; }
  85% {
    stroke-dashoffset: 700%;
    stroke: #007bff; }
  100% {
    stroke-dashoffset: 700%;
    stroke: #007bff71; } }

.navigator {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  z-index: 2000;
  top: 0;
  left: 0; }
  .navigator-skills {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
    z-index: 2500;
    transition: all .5s ease-in-out; }
    .navigator-skills-container {
      width: 100%;
      height: 100vh;
      position: relative; }
      .navigator-skills-container-close {
        position: absolute;
        right: 1rem;
        top: .5rem; }
        .navigator-skills-container-close > svg {
          width: 5rem;
          height: 5rem; }
        .navigator-skills-container-close:hover {
          cursor: pointer; }
      .navigator-skills-container-content {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 70%;
        height: 90%;
        fill: black; }
        .navigator-skills-container-content-svg {
          display: flex;
          align-items: center;
          justify-content: center; }
        .navigator-skills-container-content-dots {
          margin: 1rem 0rem;
          display: flex;
          width: 100%;
          justify-content: space-evenly;
          align-items: center; }
          .navigator-skills-container-content-dots > svg {
            width: 3rem;
            height: 3rem; }
        .navigator-skills-container-content-desc {
          font-size: 1.5rem;
          margin-right: 1rem; }
  .navigator-git {
    margin: 1.25rem 0rem 0rem 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: rgba(255, 255, 255, 0.5);
    mix-blend-mode: difference;
    transition: all .5s ease-in-out; }
    @media (max-width: 43.75em) {
      .navigator-git {
        margin: 1rem 0rem 0rem 1.5rem; } }
    .navigator-git:hover {
      cursor: pointer;
      fill: white; }
  .navigator-menu {
    stroke: rgba(255, 255, 255, 0.5);
    mix-blend-mode: difference;
    fill: none;
    stroke-width: 7px;
    margin: 1rem 1rem 0rem 0rem;
    height: 2.5rem;
    z-index: 2000; }
    @media (max-width: 43.75em) {
      .navigator-menu {
        margin: 1rem 0rem 0rem 0rem; } }
    .navigator-menu-visible {
      stroke-width: 7px;
      fill: none;
      stroke-dashoffset: 927.5%;
      stroke-dasharray: 1000%;
      transition: all .75s ease-in-out; }
    .navigator-menu-hidden {
      stroke-width: 7px;
      fill: none;
      transition: all .75s ease; }
    .navigator-menu:hover {
      cursor: pointer;
      stroke: white; }
  .navigator-btns {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    z-index: 100;
    transition: clip-path .5s ease-in-out; }
    @media (max-width: 68.5em) {
      .navigator-btns {
        clip-path: circle(0% at 100% 0); } }
    .navigator-btns > a {
      margin: 1rem;
      text-decoration: none;
      color: black;
      transition: all .5s ease-in-out; }
      .navigator-btns > a:hover {
        cursor: pointer;
        color: #007bff; }
  .navigator-colorizer {
    background-color: #007bff30;
    z-index: 90;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all .5s .25s ease-in-out; }

.changeToClose {
  stroke-dashoffset: -197.5%;
  stroke-dasharray: 600%; }

.hideOrShow {
  stroke-dashoffset: 1000%;
  stroke-dasharray: 1000%;
  transition: all .5s ease; }
